body { background-color: white; }
main { max-width: 640px; }
main p, main figure { margin: 2em 0; padding: 0; }
main p a { white-space: nowrap; }
figcaption { margin: 1em 0; padding 0; font-style: italic; }
